<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name = "KetNoi" connectionString="Data Source=mirai-dell-x64\sqlexpress;Initial Catalog=QuanLyThuVien;Integrated Security=True"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>